{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Katastrofffe | Portfolio{% endblock %}
{% block page_description %}Katastrofffe | Portfolio{% endblock %}
{% block page_keywords %}portfolio {{ config.SITE_KEYWORDS }}{% endblock %}

{% block page_title %}PORTFOLIO{% endblock %}

{% block content %}
    <div class="container-justified">
        {% if categories %}
        <div class="objects-list">
            {% for category in categories %}
                <a href="/portfolio/{{ category.slug }}/" class="object-container">
                    {% if category.thumbnail %}
                    <img alt="{{ category.name }}" src="{{ category.thumbnail.url}}">
                    {% else %}
                    <img src="{{ request.scheme }}://{{ request.get_host }}{% static 'images/wgjeru8LGrRW.jpg' %}" alt="{{ event.title }}">
                    {% endif %}
                    <div class="object-title">{{ category.name }}</div>
                </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock content %}