{% extends 'base.html' %}
{% load staticfiles %}
	{% block title %}Katastrofffe | {{ category.name }}{% endblock %}
	{% block page_description %}Katastrofffe | {{ category.name }}{% endblock %}
    {% block page_keywords %}{{ category.name }} {{ config.SITE_KEYWORDS }}{% endblock %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'bundle/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bundle/index.css' %}">
    {% endblock %}

    {% if categories %}
    {% block page_title_container %}
        <div class="container-justified categories-navigation">
            <div class="categories-navigation-inner">
                {% for category in categories %}
                <div class="menu-item"><a href="/portfolio/{{ category.slug }}/">{{ category.name }}</a></div>
                {% endfor %}
            </div>
        </div>

        <div class="container-justified">
            <div class="page-title" style="padding: 25px 0"><h1>{{category.name}}{% if category.children.all %}->{% for i in category.children.all %}<a href="{{ i.slug }}/"> {{ i.name }} </a><br>{% endfor %}{% endif %}<br><br>{% if not posts %}No posts in category: {{ category.name }}{% endif %}</h1></div>
        </div>
        <div class="container">
            <div class="text-left text-container">
                {{category.description}}
            </div>
        </div>
    {% endblock %}
    {% endif %}

{% block content %}
    <div class="container-justified">
        <div class="grid grid-initial-state">
             {{posts_template|safe}}
        </div>
        <div class="grid-load-status">
            <p class="infinite-scroll-request">Loading...</p>
            <p class="infinite-scroll-last">No more pages to load</p>
            <p class="infinite-scroll-error">No more pages to load</p>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        var pages_count = {{pages_count}};
        var category = '{{category.slug}}';
    </script>

    <script src="{% static 'bundle/index.bundle.js' %}"></script>
{% endblock %}