{% if posts %}
    {% for post in posts %}
    <div class="grid-item {% if post.enlarged_thumbnail_size %}grid-item--width2{% endif %}">
        <div class="grid-item-content">
            {% with post_media=post.get_post_media %}
                {% if post_media|length > 1 %}
                    <div class="owl-carousel-container">
                        <div class="owl-carousel owl-theme">
                            {% for media in post_media %}
                                <div class="owl-image-container">
                                    {% if media.media_medium %}
                                        <img src="{{ media.media_medium.url }}" alt="{{ post.title }}">
                                    {% else %}
                                        <img src="{{ media.media.url }}" alt="{{ post.title }}">
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                {% else %}
                    {% with post_media|first as media %}
                        {% if media.is_video %}
                            <div id="media-gallery-{{ forloop.counter0 }} ">
                                <a href="{{ media.video_link }}" class="item post-thumb-video" data-poster="{{ media.media_medium.url }}" data-video="{{ media.video_link }}">
                                    <img src="{{ media.media_medium.url }}" alt="{{ post.title }}"/>
                                    <i class="icon-play"></i>
                                </a>
                            </div>
                        {% else %}
                            {% if media.media_medium %}
                                <img src="{{ media.media_medium.url }}" alt="{{ post.title }}" >
                            {% else %}
                                <img src="{{ media.media.url }}" alt="{{ post.title }}" >
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                {% endif %}
            {% endwith %}

            {% if post.is_18_plus and age_confirmed == False %}
                <div class="blur-content-container">
                    <div class="blur-content-container-inner">
                        This content is for people over 18.<br>
                        Please confirm your age.<br>
                        <button class="blur-container-confirm-button">Confirm</button><br>
                        <div class="help-text">We use cookies to help you get the best experience from our site.<br>See our  <a href="/privacy_policy/" target="_blank">privacy policy</a></div>
                    </div>
                </div>
            {% endif %}

            {% if post.preview  %}
                <div class="post-thumb-content">
                    <span>{{ post.preview | safe }}</span>
                </div>
            {% endif %}

            <div class="post-thumb-details">
                {% if post.tags %}
                    <div class="post-tags">
                        {% for tag in post.tags.all %}
                            <span><a href="/portfolio/filter/tag/{{ tag.name }}/" class="tag-link">{{ tag.name }}</a></span>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if post.show_post_detail %}
                    <a href="{{ post.post_link }}" class="post-link">Read more</a>
                {% endif %}
            </div>

        </div>
    </div>
    {% endfor %}
{% endif %}