{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}katastrofffe.com | {{ tag_name }}{% endblock %}
{% block page_description %}katastrofffe.com posts by tag: {{ tag_name }}{% endblock %}
{% block page_keywords %}{{ tag_name }} {{ config.SITE_KEYWORDS }}{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'bundle/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bundle/index.css' %}">
{% endblock %}
{% block page_title %}
{% if posts %}
{{ tag_name }}
{% else %}
No posts by tag: {{ tag_name }}
{% endif %}
{% endblock %}

{% block content %}
    <div class="container-justified">
        <div class="grid grid-initial-state">
             {{posts_template|safe}}
        </div>
        <div class="grid-load-status">
            <p class="infinite-scroll-request">Loading...</p>
            <p class="infinite-scroll-last">No more pages to load</p>
            <p class="infinite-scroll-error">No more pages to load</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var pages_count = {{pages_count}};
        var tag = '{{tag_name}}';
    </script>
    <script src="{% static 'bundle/index.bundle.js' %}"></script>
{% endblock %}