$nav-a-color: #0b354b;
$base-span-color: #eb4257;
$base-text-color: #000;
$tag-active-color: #ff0000;
$md-padding: 25px;
$sm-padding: 15px;
$lg-padding: 50px;
$form-border-color: #000;
$base-bg-color: #fff;

@font-face {
    font-family: Trade Gothic ProCyr R;
    font-weight: 700;
    font-style: normal;
    src: url(/static/fonts/16fb6097bc1ec2e.woff2) format("woff2"),url(/static/fonts/f3cbed7017c9c65.woff) format("woff")
}

body {
    font-family: 'Open Sans', sans-serif, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body.index {
    background-color: $base-bg-color;
}

@media (max-width: 991px) {
    body {
        font-size: 18px;
    }
}

h2 {
    font-size: 24px;
    margin: 0;
}

.text-left {
    text-align: left;
}

img {
    width: 100%;
    margin-bottom: 15px;
}

.text-container {
    width: 50%;
    margin-bottom: $md-padding;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

@media all and (max-width: 767px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: $base-bg-color;
    font-weight: 600;
    font-size: 24px;

    a {
       color: $nav-a-color;
    }
}

.navigation-container {
    position: relative;
}

.navigation {
    font-family: Trade Gothic ProCyr R, sans-serif;
	padding: 25px 50px 12px;
    position: relative;

    .menu-item {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: fit-content;

        padding: 5px 30px 5px 0;

        @media all and (max-width: 1150px) {
            padding-right: 20px;
        }
    }

    .split-link-title {
        width: 90px;

        a > .base-span {
            top: unset;
        }
    }
}

.nav-link {
    position: relative;
    margin-bottom: 0;
    font-family: Trade Gothic ProCyr R,sans-serif;
    letter-spacing: .089375em;
    color: $nav-a-color;
}

.base-span, .double-span {
    display: inline-block;
    text-decoration: underline;
}

.base-span {
    color: $base-span-color;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0
}

.double-span {
    position: relative;
}

.focus-enabled .nav-link:focus .base-span, .nav-link:focus .base-span, .nav-link:hover .base-span {
    opacity: 1;
}

.focus-enabled .nav-link:focus .double-span, .nav-link:focus .double-span, .nav-link:hover .double-span {
    -webkit-transform: translate3d(.2em,.2em,0);
    transform: translate3d(.2em,.2em,0)
}

/**
 * Header
 */
.logo {
    position: absolute;
    top: $md-padding;
    left: 50%;

    .menu-item {
        position: relative;
        left: -50%;
        padding: 5px 0;
    }

    .nav-link {
        display: block;
        color: $nav-a-color;
    }
}

.social-icons-block {
    display: block;
    position: absolute;
    top: 25px;
    right: 50px;
}

@media all and (max-width: 767px) {
    .social-icons-block {
        right: 10px;
    }
}

.social-icon-cell {
    display: inline-block;
    height: auto;
    vertical-align: middle;
}

.social-icon-cell > a {
    font-size: 18px;
}

.social-icon-cell > img {
    margin-bottom: 0;
}

.social-icon {
    display: block;
    height: 25px;
    width: 25px;
}

.banner {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 25px;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    color: $base-text-color;
    border: 3px solid $nav-a-color;
    
    &:hover {
        border: 3px solid $base-span-color;
    }
}
        
.page-title {
    padding: 117px 0 $md-padding;
    text-align: center;

    h1 {
        font-size: 16px;
        font-weight: normal;
        margin: 0;
    }
}

.page-subtitle {
    padding: 0 50px 50px;
}

@media all and (max-width: 1200px) {
    header {
        position: static;
        width: 100%;
    }

    .page-title {
        padding-top: $md-padding;
        text-align: center;
    }
}

@media all and (max-width: 991px) {
    header {
        position: static;
        width: 100%;

        .logo .menu-item{
            position: static;
            padding: 5px 5px 5px 0;
        }
    }

    .logo {
        position: absolute;
        top: 25px;
        left: 50px;
    }

    .navigation {
        padding-top: 75px;
    }

    .page-title {
        padding-top: $md-padding;
        text-align: center;
    }
}

@media all and (max-width: 767px) {
    .logo {
        left: 10px;
    }

    .navigation, .page-subtitle {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media all and (max-width: 370px) {
    .navigation {
        padding-top: 100px;
    }

    .social-icons-block {
        top: 65px;
    }
}

/**
 * Header categories navigation
 */
.categories-navigation {
    overflow: auto;
    padding: 150px 50px 25px;
    font-family: Trade Gothic ProCyr R, sans-serif;
    font-size: 18px;
    text-align: left;

    .categories-navigation-inner {
        //width: fit-content;
        width: 30%;
        float: right;
    }

    .menu-item {
        width: fit-content;
        padding-bottom: 5px;
    }

    a {
        letter-spacing: .089375em;
    }
}

@media all and (max-width: 1200px) {
    .categories-navigation {
        padding-top: 25px;
    }
}

@media all and (max-width: 991px) {
    .categories-navigation > .categories-navigation-inner {
        width: 100%;
        float: right;
    }
}

@media all and (max-width: 767px) {
    .categories-navigation {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.post-thumb-details {
    position: relative;
    padding: 12.5px 80px 12.5px 0;
}

.post-tags {
    color: $tag-active-color;
    font-family: Menlo, monaco, monospace;
    font-size: 10px;
    line-height: 12px;

    span:after {
        content: ",";
    }

    span:last-child:after {
        content: "";
    }

     .tag-link {
        color: $tag-active-color;
        text-decoration: none;

        &:hover {
            color: $base-text-color;
            text-decoration: underline;
        }

        &:active {
            color: $tag-active-color;
        }
    }
}

.post-link {
    display: block;
    position: absolute;
    right: 0;
    bottom: 12.5px;
    color: $nav-a-color;
    font-family: Trade Gothic ProCyr R,sans-serif;
    font-size: 16px;
    letter-spacing: .089375em;

    &:hover, &:focus {
        color: $base-span-color;
    }
}

/**
 * Grid
 */
.grid {
    background: transparent;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
}

.grid.grid-initial-state {
    opacity: 0;
}

.grid-load-status {
    display: none; /* hidden by default */
    padding-top: 20px;
    border-top: 1px solid #DDD;
    text-align: center;
    color: #777;
}

.grid-item {
    display: block;
    width: 320px;
}

.grid-item--width2 {
    display: block;
    width: 640px;
}

.grid-item-content {
    position: relative;
    padding: 0 15px 40px;
}

@media all and (max-width: 767px) {
    .grid-item, .grid-item--width2 {
        width: 100% !important;
    }

    .grid-item-content {
        padding: 0 10px 40px;
    }
}

.icon-play {
    position: absolute;
    width: 58px;
    height: 58px;
    margin: -29px 0 0 -29px;
    top: 50%;
    left: 50%;
    background: url(../images/icon-play.png) no-repeat 0 0;
    z-index: 2;
    opacity: 0.6;
    filter: alpha(opacity=0);
    -moz-transition: opacity .2s linear;
    -ms-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.post-thumb-video {
    display: block;
    position: relative;
}

.blur-image {
    -webkit-filter: blur(6px);
    filter: blur(6px);
}

.blur-content-container {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;
    text-align: center;
    font-family: Trade Gothic ProCyr R,sans-serif;
    font-size: 24px;
    letter-spacing: .089375em;
    color: white;
    display:table;
}

.blur-content-container-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    a, a:visited {
        color: #0b354b;

        &:hover, &:focus, &:active {
            color: $base-span-color;
        }
    }
}

.help-text {
    font-size: 14px;
}

.blur-container-confirm-button {
    background-color: transparent;
    border: 3px solid #FFFFFF;
    border-radius: 0;
    font-family: Trade Gothic ProCyr R, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    padding: 12px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 12.5px;

    &:focus, &:active {
        outline: none;
    }
}

/**
 * Post detail
 */
.post-container {
    display: -webkit-flex;
    -webkit-align-items: flex-start;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    padding: 0 50px 50px;

    .post-media {
        width: 70%;
    }

    img {
        display: block;
        width: 100%;
        margin-bottom: 50px;
        cursor: pointer;
    }

    .post-content {
        width: 30%;
        position: relative;
        line-height: 1.5;
    }

    .post-content-inner {
        position: sticky;
        top: 76px;
        padding-left: 25px;
    }

    h1.post-title {
        margin-top: 0;
        font-size: 26px;
    }

    .post-description, .post-tags  {
        margin-bottom: 25px;
    }
}

@media all and (max-width: 991px) {
    .post-container {
        display: block;

        .post-media {
            width: 100%;
        }

        .post-content {
            width: 100%;
        }

        .post-content-inner {
            padding-left: 0;
        }
    }
}

@media all and (max-width: 767px) {
    .post-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/**
 * Contact
 */
input[type="email"], textarea {
    display: block;
    border: 1.5px solid $form-border-color;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 16px;
    font-family: Trade Gothic ProCyr R, sans-serif;
    margin-bottom: 25px;
    padding: 12px;
    width: 50%;

    &:focus {
      outline-color: #9C9C9C;
    }
}

textarea {
    height: auto;
}

.contact-form-container button {
    display: block;
    width: 50%;
    border: 1.5px solid $form-border-color;
    border-radius: 0;
    font-family: Trade Gothic ProCyr R, sans-serif;
    font-size: 16px;
    color: $base-text-color;
    padding: 12px;
    cursor: pointer;

    &:focus{
        outline-color: #9C9C9C;
    }

    &:hover{
        color: $nav-a-color;
    }
}

.system-message-success {
    color: $nav-a-color;
}

.system-message-error {
    color: $base-span-color;
}

.contact-form-container {
    padding-bottom: $lg-padding;
}

.text-container, .page-title, .categories-navigation {
    a {
        color: $nav-a-color;
        &:hover, &:focus {
            color: $base-span-color;
        }
    }
}

/* sm */
@media all and (max-width: 767px) {
    input[type="email"], textarea {
        width: 100%;
    }

    .text-container {
        width: 100%;
    }
}

/**
 * Events, categories list
 */
.objects-list {
    display: -webkit-flex;
    -webkit-align-items: flex-start;
    -webkit-flex-wrap: wrap;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    padding: 0 50px 50px;
}

@media all and (max-width: 767px) {
    .objects-list {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.object-title {
    margin-bottom: 12.5px;
}

.object-container {
    width: 25%;
    box-sizing: border-box;
    padding-right: 12.5px;
    margin-bottom: 25px;
    color: $base-text-color;
    text-decoration: none;

    &:hover, &:focus {

    }
}

@media all and (max-width: 991px) {
    .object-container {
        width: 50%;

        &:nth-child(2n) {
            padding-right: 0;
       }
    }
}

@media all and (max-width: 767px) {
    .object-container {
        width: 100%;
        padding-right: 0;
    }

    .events-list {
       img {
           display: none;
       }
    }
}

.event-dates {
    font-family: Trade Gothic ProCyr R,sans-serif;
    letter-spacing: .089375em;
    color: $nav-a-color;
    margin-bottom: 15px;
}

/**
 * Owl
 */
.owl-carousel .owl-nav.disabled {
    display: block !important;
}

.owl-theme .owl-dots, .owl-theme .owl-nav{
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*=owl-]{
    display: inline-block;
    cursor: pointer;
}

.owl-theme .owl-nav [class*=owl-]:hover{
    text-decoration:none
}

.owl-theme .owl-dots .owl-dot{
    display: inline-block;
    zoom: 1;
    outline: none;
}

.owl-theme .owl-dots .owl-dot span{
    width: 6px;
    height: 6px;
    margin: 0 3px;
    background: #8c8c8c;
    opacity: 0.5;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .4s ease;
    border-radius: 30px
}

.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{
    background: #8c8c8c;
    opacity: 1;
}

.owl-carousel-container {
    margin-bottom: 15px;
}

.owl-carousel .owl-item img {
    margin-bottom: 0;
}

.owl-carousel-container:hover {
    .owl-carousel .owl-nav button.owl-prev,.owl-carousel .owl-nav button.owl-next {
        transition: opacity .8s ease;
        opacity: 0.7;
    }
}

.owl-nav-button {
    position: absolute;
    top: 50%;
    background-color: #fff;
    opacity: 0.5;
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 50%;
    outline: none;
}

.owl-carousel .owl-nav button.owl-prev {
    @extend .owl-nav-button;
    left: 10px;
}

.owl-carousel .owl-nav button.owl-next {
    @extend .owl-nav-button;
    right: 10px;
}

.owl-carousel-container:hover .owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel-container:hover .owl-carousel .owl-nav button.owl-next:hover{
    transition: opacity .8s ease;
    opacity: 0.7;
    background-color: #fff;
    color: inherit;
}