{% extends 'base.html' %}
{% load staticfiles %}

	{% block title %}Katastrofffe | Events{% endblock %}
	{% block page_description %}Katastrofffe | Events{% endblock %}
    {% block page_keywords %}events event exhibitions exhibition {{ config.SITE_KEYWORDS }}{% endblock %}

{% block page_title %}
EVENTS
{% endblock %}

{% block body_class_name %}{% endblock %}

{% block content %}
<div class="container-justified">
    <div class="objects-list">
        {% if future_events %}
            {% for future_event in future_events %}
                <a href="/events/{{ future_event.slug }}/" class="object-container">
                    {% if future_event.thumbnail %}
                        <img src="{{ future_event.thumbnail.url }}" alt="{{ future_event.title }}">
                    {% else %}
                        <img src="{{ request.scheme }}://{{ request.get_host }}{% static 'images/wgjeru8LGrRW.jpg' %}" alt="{{ future_event.title }}">
                    {% endif %}
                    <div class="object-title">{{ future_event.title }}</div>
                    <div class="event-dates">{{ future_event.start_date }} - {{ future_event.end_date }}</div>
                </a>
            {% endfor %}
        {% endif %}
    </div>

    {% if past_events %}
        <div class="container-justified">

            <div class="page-subtitle">
                <h2>PAST EVENTS</h2>
            </div>

            <div class="objects-list">
                {% for past_event in past_events %}
                    <a href="/events/{{ past_event.slug }}/" class="object-container">
                        {% if past_event.thumbnail %}
                            <img src="{{ past_event.thumbnail.url }}" alt="{{ past_event.title }}">
                        {% else %}
                            <img src="{{ request.scheme }}://{{ request.get_host }}{% static 'images/wgjeru8LGrRW.jpg' %}" alt="{{ past_event.title }}">
                        {% endif %}
                        <div class="object-title">{{ past_event.title }}</div>
                        <div class="event-dates">{{ past_event.start_date }} - {{ past_event.end_date }}</div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}