{% extends 'base.html' %}
{% load staticfiles %}

	{% block title %}Katastrofffe | Events{% endblock %}
	{% block page_description %}Katastrofffe | Events{% endblock %}
    {% block page_keywords %}events event exhibitions exhibition {{ config.SITE_KEYWORDS }}{% endblock %}

{% block page_title %}
EVENTS
{% endblock %}

{% block body_class_name %}{% endblock %}

{% block content %}
<div class="container-justified">
    <div class="objects-list">
        {% if events %}
            {% for event in events %}
                <a href="/events/{{ event.slug }}/" class="object-container">
                    {% if event.thumbnail %}
                        <img src="{{ event.thumbnail.url }}" alt="{{ event.title }}">
                    {% else %}
                        <img src="{{ request.scheme }}://{{ request.get_host }}{% static 'images/wgjeru8LGrRW.jpg' %}" alt="{{ event.title }}">
                    {% endif %}
                    <div class="object-title">{{ event.title }}</div>
                    <div class="event-dates">{{ event.start_date }} - {{ event.end_date }}</div>
                </a>
            {% endfor %}
        {% else %}
            No events
        {% endif %}
    </div>
</div>
{% endblock %}