{% extends 'base.html' %}
{% load staticfiles %}
	{% block title %} {{ event.title }} | {{ event.start_date }} - {{ event.end_date }}{% endblock %}
	{% block page_description %}{{ event.description }}{% endblock %}
    {% block page_keywords %}{{ event.keywords }}{% endblock %}
    {% block meta_properties %}
        <meta property="fb:app_id" content="579111139214786" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ event.title }} | {{ event.start_date }} - {{ event.end_date }}" />
        <meta property="og:description" content="{{ event.description }}" />
        <meta property="og:image" content="{% if event.thumbnail %}{{ event.thumbnail.url }}{% else %}{{ request.scheme }}://{{ request.get_host }}{% static 'images/wgjeru8LGrRW.jpg' %}{% endif %}" />
    {% endblock %}
    {% block page_title %}
    {% endblock %}

    {% block body_class_name %}{% endblock %}

	{% block content %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=579111139214786&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="container-justified post-container">
        <div class="post-media">
            {% if event.thumbnail %}
                <div class="item">
                    <img src="{{ event.thumbnail.url }}">
                </div>
            {% else %}
                <div class="item">
                    <img src="{{ request.scheme }}://{{ request.get_host }}{% static 'images/wgjeru8LGrRW.jpg' %}" width="">
                </div>
            {% endif %}
        </div>
        <div class="post-content">
            <div class="post-content-inner">
                <h1 class="post-title">{{ event.title }}</h1>
                <div class="post-description">{{ event.description }}</div>
                <div class="event-dates">{{ event.start_date }} - {{ event.end_date }}</div>
                <div class="fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                </div>
            </div>
        </div>
    </div>

    {% if event_media %}
        <div class="container-justified">

            <div class="page-subtitle">
                <h2>EVENT REPORT</h2>
            </div>

            <div class="container-justified">
                <div class="grid grid-initial-state" id="media-gallery">
                    {% for event_media_data in event_media %}
                        {% if event_media_data.media_medium.url %}
                            <div class="grid-item {% if event_media_data.enlarged_thumbnail_size %}grid-item--width2{% endif %}">
                                <div class="grid-item-content">
                                    {% if event_media_data.is_video %}
                                        <a href="{{ event_media_data.video_link }}" class="item post-thumb-video" data-poster="{{ event_media_data.media_medium.url }}" data-video="{{ event_media_data.video_link }}">
                                            <img src="{{ event_media_data.media_medium.url }}" alt="{{ event_media_data.media_title }}"/>
                                            <i class="icon-play"></i>
                                        </a>
                                    {% else %}
                                        {% if event_media_data.media_medium %}
                                            <img class="item" src="{{ event_media_data.media_medium.url }}" alt="{{ event_media_data.media_title }}" data-src="{{ event_media_data.media_medium.url }}">
                                        {% else %}
                                            <img class="item" src="{{ event_media_data.media.url }}" alt="{{ event_media_data.media_title }}" data-src="{{ event_media_data.media_medium.url }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if other_events %}
        <div class="container-justified">

            <div class="page-subtitle">
                <h2>OTHER EVENTS</h2>
            </div>

            <div class="objects-list">
                {% for other_event in other_events %}
                    <a href="/events/{{ other_event.slug }}/" class="object-container">
                        {% if other_event.thumbnail %}
                            <img src="{{ other_event.thumbnail.url }}" alt="{{ other_event.title }}">
                        {% else %}
                            <img src="{{ request.scheme }}://{{ request.get_host }}{% static 'images/wgjeru8LGrRW.jpg' %}" alt="{{ other_event.title }}">
                        {% endif %}
                        <div class="object-title">{{ other_event.title }}</div>
                        <div class="event-dates">{{ other_event.start_date }} - {{ other_event.end_date }}</div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% endblock %}

    {% block scripts %}
        <script>
            var pages_count = 100;
        </script>

        <script src="{% static 'bundle/event.bundle.js' %}"></script>
    {% endblock %}